<nav class="navbar navbar-light bg-primary">
  <div class="container-xl">
    <div class="navbar-brand">
      <a class="btn btn-outline-dark" href="/site">Home</a class="btn btn-dark">
    </div>
      <a class="btn btn-outline-dark" href="/perguntar">Fazer Pergunta</a class="btn btn-dark">
    
  </div>
</nav>